<div class="text-center">
    <input type="hidden" value="{{id}}" id="blogid" />
    <h2>{{Namr}}</h2>

    <p> {{format_date date}}</p>

    <form class="form">
        <div class="row mb-2">
            <div class="col-md-8">
                <textarea id="content" rows="4" cols="50"> {{description}}</textarea>
            </div>
        </div>
        <div style="text-align: left;">
            <button class="btn btn-dark" id="update" type="submit">Update</button>
            
            <button class="btn btn-dark" id="delete" type="submit">Delete</button>
        </div>
    </form>
</div>
<script src="/js/myevent.js"></script>