 <div class="callout secondary">
      <form>
        <div class="row">
          <div class="small-12 columns">
            <label>Search by Zip Code
              <input type="text" id="zipInput" placeholder="Zip Code Here">
            </label>
          </div>

          <button type="submit" class="button" id="submitBtn">Search Now!</button>
        </div>
      </form>
    </div>
        <script src="./js/script.js"></script>