body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('https://mcdn.wallpapersafari.com/medium/39/15/Q4Iocv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
.header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 70px;
    }
.subheader {
    font-size: 30px;
    color: black;
    }  
.leadOne {
    font-size: 40px;
}      

