body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    }
.header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    text-shadow: 2px 2px 8px rgb(42, 73, 104);
    padding: 60px;
    }
    
.subheader {
    font-size: 30px;
    color: black;
    }  
.leadOne {
    font-size: 40px;
    text-align: center;
    padding: 40px;
}   
